@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */

h1, h2, h3, h4, p {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(235, 233, 241);
}

.wppbtn {
    position: sticky;
    bottom: 20px;
    right: 20px;
}

.producto {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(180px, 1fr)
  );
  gap: 20px;
}